<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BreakOut - Halloween</title>
    <link rel="stylesheet" href="../css/style.css">
    <style>
        body {
            background: #31184a;
        }
        canvas {
            background: url('../img/halloween.jpg');
        }
    </style>
</head>
<body>
    <canvas id="canvas"></canvas>

    <div class="overlay">
        <div id="info" class="flex">
            <h1 id="start">Haz click para comenzar el juego!</h1>
        </div>
    </div>

    <script src="../js/script.js"></script>
    <script>
        colorBrick = '#fa7152';
    </script>
</body>
</html>